@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

* {
    margin: 0px;
}

body {
    background-image: url(img/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #292929;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#start {
    background-color: #292929;
    background-image: url(img/TheRedTower.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 576px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.301);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}

#start img {
    width: 200px;
    margin-top: 150px;
}

#start input {
    width: 80px;
    margin-top: 25px;
}

#gameDisplay {
    display: none;
    background-color: #292929;
    background-image: url(img/towerBattleground.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 576px;
    width: 1024px;
    margin-top: 3vh;
    border: 2px solid rgb(238, 84, 84);
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.301);
}

#battleground {
    height: 344px;
    width: 1024px;  
    padding: 20px 0px 20px 0px;
}

#battleground h2 {
    font-family: 'Press Start 2P', cursive;
    color: rgb(238, 84, 84);
    text-align: center;
}

#BgCharacters {
    display: flex;
}

#player img {
    width: 300px;
    margin-top: 110px;
    margin-left: 180px;
}

.enemy1 img {
    width: 320px;
    margin-top: 150px;
    margin-left: 0px;
}

#infogame {
    background-color: #292929;
    border-radius: 0px 0px 20px 20px;
}

#gameLog {
    height: 30px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    border-top: 2px solid rgb(238, 84, 84);
    display: flex;
    justify-content: center;
    align-items: center;
}

#actionMenu {
    font-family: 'Press Start 2P', cursive;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#actionButtons {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#attackBtn {
    width: 60px;
    height: 60px;
    background-image: url(img/attackBtn.png);
    background-color: #292929;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}

#hpBtn {
    width: 60px;
    height: 60px;
    background-image: url(img/hpBtn.png);
    background-color: #292929;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;  
}

#enemyStatus {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerStatus {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#gameOver {
    position: absolute;
    background-color: #292929;
    background-image: url(img/TheRedTower.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 576px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 5000px rgb(0, 0, 0);
    display: none;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 4s;
    -webkit-animation: fadeIn 4s;
    -moz-animation: fadeIn 4s;
    -o-animation: fadeIn 4s;
    -ms-animation: fadeIn 4s;
}

#gameOver img {
    width: 200px;
    margin-top: 80px;
}

#tryAgainBtn {
    position: absolute;
    width: 180px;
    margin-top: 322px;
}

#petalsRain {
    position: absolute;
}

footer {
    color: rgb(238, 84, 84);
    margin-top: 25px;
}